<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
 <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="container">
    <form action="/addInfo" method="post">
        <input id="PrName" type="text" required name="name" placeholder="Name"><br><br>
        <input id="PrPrice" type="number" name="price" placeholder="Price"><br><br>
        <input id="PrImage" type="text" name="image" placeholder="Image"><br><br>
        <input id="PrUUID" type="number" name="uuid" placeholder="UUID"><br><br>
        <input id="PrDes" type="text" name="description" placeholder="Description"><br><br>
        <input id="id" type="hidden" name="id" >
        <input type="submit" ><br><br>

     </form>

	 <button><a href="/list">User's list</a></button>
	 
	</div>
  <script src="script.js"></script>
</body>
</html>
