<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User's list</title>
	<link rel="stylesheet" href="list.css">
</head>

<body>
	<section>
		<h1>User's List</h1>
		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0">
			  <thead>
		<tr>
			<td>Name</td>
			<td>Price</td>
			<td>Update</td>
			<td>Delete</td>
		</tr>
		</thead>
		</table>
		</div>
		<div class="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody>
		<% obj.forEach(function(justOne) { %>
			<tr>
				<td>
					<%= justOne.name %>
				</td>
				<td>
					<%= justOne.price %>
				</td>
				<td><a class="update" href="update/<%= justOne._id %>">Update</a></td>
				<td><a class="delete" href="delete/<%= justOne._id %>">Delete</a></td>
			</tr>
			<% }); %>

					</tbody>

	</table>
	<div>
	<button class="button"><a href="/">Back</a></button>
</body>
</html>
